<configuration>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- Location of log file -->
    <file>D:/Gaurav/Study/Programs/Backend Programs/microservice/microservice2/microservice_logs/conversion-limit-service/application.log</file>

    <!-- Daily rolling policy -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>D:/Gaurav/Study/Programs/Backend Programs/microservice/microservice2/microservice_logs/conversion-limit-service/application-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <!-- ✅ JSON encoder for Logstash -->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"service":"conversion-limit-service"}</customFields>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>
